<!DOCTYPE html>
<html>
<head>
	<title>Photo Show Page</title>
</head>
<body>

	<h2><%=photo.username%>'s Photo</h2>
	<div class="container show-page">

		<img src="<%=photo.url%>"/>

		<p><%=photo.about%></p>
	</div>
	

</body>
</html>

