<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
	<title></title>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="four columns offset-by-four">

          <h2>PicShare<img src="/images/polaroid-camera-clipart-photography-pencil-and-in-color-5a98d2b9b8f6b.png" alt="poloroid camera clipart"></h2>
            <h6>Sharing photos made <em> simple. </em></h6>
          </div>
        </div>
      </div>

      <% if (message) { -%>
		      <p style="background-color: pink"><%= message %></p>
	     <% } -%>


      <div class="row">
        <div class = "three columns offset-by-one">
	         <h3>Please login here.</h3>

            	<form action="/users/login" method="POST">
            		<input type="username" name="username" placeholder="username" /><br />
            		<input type="password" name="password" placeholder="password" /><br />
            		<button>Login</button>
            	</form>
          </div>
        </div>

	        <small><p>Need an account?<br /></p>
          <a class="button glow-button" href="/users/register">Register Here</a></small>

</body>
</html>
