<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>Log In</h1>
	<header>
		<h1>Register Your Information!</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users">Photographer Index</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<form action="/users" method="POST">
			Username: <input type="text" name="username">
			Password: <input type="password" name="password">
			<button type="submit">Log In!</button>
		</form>
	</main>
</body>
</html>