<!DOCTYPE html>
<html>
<head>
	<title>Edit User Page</title>
</head>
<body>
	<header class="container">
		<h1 class="row col">
			Edit User Information
		</h1>
		<nav class="row">
				<a class="col" href="/">Home</a>
				<a class="col" href="/users/">Photographer Index</a>
		</nav>
	</header>
	<main class="container">
		<form action="/users/<%=index%>?_method=PUT" method="POST">
			Username: <input type="text" name="username" value="<%=user.username%>">
			Password: <input type="password" name="password" value="<%=user.password%>">
			<button class="btn btn-success mb-2" type="submit">Submit Your Changes</button>
		</form>
	</main>
</body>
</html>