<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <h1>Update User</h1>
      <nav>
        <ul>
          <li> <a href="/users/<%= users.id %>?">Back to Profile</a></li>
        </ul>
      </nav>
    </header>

    <form action="/users/<%= users.id %>?_method=PUT" method="POST">
    <h3>Edit username: <input type="text" name="username" value="<%= users.username %>"/></h3>
    <h3>Edit password: <input type="text" name="password" value="<%= users.password %>"/></h3>
      <button type="submit">Update</button>

    </form>


  </body>
</html>
