<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h2>All Photographers</h2>

<br/><br/>
<div class="container">
	<div class="row">
	<%for (let i = 0; i < theUsers.length; i++) {%>
		
  			<div class="col-sm-6">
   				<div class="card">
   		 			<div class="card-body">
   		    			<h5 class="card-title"><%=theUsers[i].username%></h5>
   		    			<a href="/users/<%=theUsers[i].id%>" class="btn btn-primary">View Portfolio</a>
   		  			</div>
   				</div>
  			</div>
 
		
	<%}%>
	</div>

	<br/><br/><br/>
	<button class="btn btn-secondary"><a href="/users/new">Create New User</a></button>

</div>




</body>
</html>