<!DOCTYPE html>
<html>
<head>
	<title>Create New User</title>
</head>
<body>

	<h1>Create a New User</h1>

	<form action='/users' method="POST">
		Username: <input type="text" name="username"/><br/>
		Password: <input type="text" name="password"/><br/>
		<input type="submit" name="" value="Create User">
	</form>

</body>
</html>