<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create an Article</h1>
        <nav>
          <ul>
            <li> <a href="/articles">Back to Article Index</a></li>

          </ul>
        </nav>
    </header>

    <main>
      <h3>Create Username:</h3> <br />
        <form action="/users" method="post">
          <input type="text" name="username"><br /><br />

      <h4>Create Password:</h4>
        <input type="text" name="password"><br /><br />

        <button type="submit">Create new user!</button>
        </form>
    </main>


  </body>
</html>
