<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>

  <body>
    <div class="container">
      <header>

        <div class="row">
          <div class="twelve columns">
            <div class="four columns offset-by-four">

            <h2>PicShare<img src="/images/polaroid-camera-clipart-photography-pencil-and-in-color-5a98d2b9b8f6b.png" alt="poloroid camera clipart"></h2>
              <h6>Sharing photos made <em> simple. </em></h6>
            

              <div class="four columns offset-by-two">
              <nav>
                <a class="button glow-button" href="/users">Home</a>
              </nav>
              </div>

            </div>
          </div>


      <main>
        <h3>Create New User</h3>
        <div class="row">
          <div class=" twelve columns">

            <h4>Enter Username:</h4>
              <form action="/users" method="post">
                <input type="text" name="username">

              <h4>Create Password:</h4>
                <input type="text" name="password"><br />

                <button type="submit">Create new user!</button>
                </form>

              </div>
            </div>

      </div>


  </body>
</html>
